.form-2fGMdU {
  .channelTextArea-2VhZ6z {
    border-radius: var(--section-border-radius);

    .scrollableContainer-2NUZem {
      background: transparent;
    }
  }

  &::before {
    display: none;
  }
}
