/* Markup Content */
.markup-2BOw-j code {
  border: none;
}

/* Embed */
.embedFull-2tM8-- {
  border-width: 5px;
}

.textContainer-C0szpm,
.footer-2yA7Ep {
  border: none;
}

.footer-2yA7Ep {
  margin-top: 1px;
}
