.bg-h5JY_x {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.circleIconButton-1QV--U,
.expandedFolderBackground-1cujaW,
.folder-1hbNCn,
.contentRegion-3nDuYy,
.container-3w7J-x,
.privateChannels-1nO12o,
.panels-j1Uci_,
.container-1r6BKw.themed-ANHk51,
.chatContent-a9vAAp,
.channelTextArea-rNsIhG,
.members-1998pB,
.markup-2BOw-j code,
.embedFull-2tM8--,
.footer-2yA7Ep,
.textContainer-C0szpm,
.peopleColumn-29fq28,
.nowPlayingColumn-2sl4cE,
.scroller-1IIF0A,
.header-39GIC8 {
  background-color: rgba(
    var(--background-glass-color),
    var(--background-glass-transparency)
  );
  backdrop-filter: blur(var(--background-glass-blur));
  background: transparent;
}

.sidebarRegionScroller-3MXcoP {
  background-color: rgba(
    var(--background-glass-color),
    var(--background-glass-transparency-dark)
  );
  backdrop-filter: blur(var(--background-glass-blur));
}
