.layer-3QrUeG,
.standardSidebarView-3F1I7i,
.contentRegionScroller-26nc1e,
.scroller-305q3I {
  background: transparent;
  backdrop-filter: none;
}

.avatarUploaderInner-3UNxY3 {
  background-color: var(--primary);
}
