.layer-3QrUeG,
.standardSidebarView-3F1I7i,
.contentRegion-3nDuYy {
  background: transparent;
}

.item-PXvHYJ[aria-controls='Discord Nitro-tab'] {
  color: var(--primary) !important;
}

.avatarUploaderInner-3UNxY3 {
  background-color: var(--primary);
}
